@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: lightgrey;
	color: black;
	font-family: 'Muli', sans-serif;
	align-items: center;
	padding: 10px;
	min-height: 100vh;
}

.header {
    text-align: center;
    font-size: 50px;
    padding-bottom: 35px;
}

h2 {
    margin-left: 50px;
}

input[type=checkbox] {
    margin-right: 0;
    margin-bottom: 10px;
}

.container {
	background-color: white;
	padding: 20px;
	width: 90%;
    max-width: 100%;
    margin-left: 50px;
    height: 90%;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.048);
}

.settings {
    border: 1px dashed lightgrey;
}

#generate {
    background-color: red;
    color: white;
    font-size: 20px;
    
}

#clipboard {
    background-color: lightgrey;
    color: white;
    font-size: 20px;
    float: right;
    
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}